openapi: 3.1.0
info:
  title: Hush API
  version: 0.3.0
  summary: API contract for Hush devices, users, dashboard and mobile app.
  description: |
    Hush is an open-source RFID-activated audio device for children
    (see https://open-hush.com). This document is the **single source of
    truth** for the HTTP API used by:

      - the firmware running on the XIAO ESP32-S3 (HMAC-authenticated),
      - the mobile app and the web dashboard (JWT-authenticated),
      - the backend that orchestrates devices, audio and users.

    Any consumer that hand-rolls types diverging from this spec is broken.

    ## Rate limiting

    Rate-limited routes carry three response headers on every response, success
    or failure:

      - `X-RateLimit-Limit` — the cap for the current window.
      - `X-RateLimit-Remaining` — requests still allowed in this window.
      - `X-RateLimit-Reset` — Unix timestamp (seconds, UTC) when the window
        rolls over.

    When the quota is exhausted the server returns `429 Too Many Requests`
    with the canonical `Error` body and a `Retry-After` header (seconds).
    Clients **must** honour `Retry-After`; exponential back-off is encouraged
    but the floor is whatever the server asks for.

    Limits are per IP for unauthenticated routes (`/v1/users/{register,login,refresh}`),
    per device for `/v1/device/*` and `/v1/firmware/*`, and per user for all
    other authenticated routes. Concrete values are operational and may
    change without a spec bump — read them from the headers, do not hard-code.

    ## Webhook delivery

    Server-to-consumer webhooks (`device.online`, `audio.finalized`) are
    POSTed to a URL the user has registered for their account. Subscription
    management is out of scope for this version of the spec; this section
    describes only the wire shape of the POST itself.

    Every webhook request carries three headers:

      - `Hush-Webhook-Id` — a UUID v4 unique to this delivery attempt. Use it
        for idempotent processing on the consumer side; the same `id` may
        arrive more than once if the backend retries.
      - `Hush-Webhook-Type` — the event type (e.g. `device.online`). Always
        matches the `type` field inside the body, so consumers can route on
        the header without parsing JSON.
      - `Hush-Webhook-Signature` — an HMAC-SHA256 signature in the format
        `t=<unix-seconds>,v1=<lowercase-hex>`. The signed string is
        `<t> + "." + <raw-request-body>`; the key is the per-user webhook
        secret returned at subscription time. Consumers **must** reject
        requests with skew greater than 5 minutes and constant-time-compare
        the signature.

    Delivery is at-least-once. The backend retries on any non-2xx with
    exponential back-off (1s, 5s, 25s, 2min, 10min, 1h, 6h, 24h) for up to 24
    hours. A `410 Gone` response disables the subscription immediately and
    stops retries. Webhook bodies are always JSON; never assume an order in
    the headers.
  license:
    name: MIT
    identifier: MIT
  contact:
    name: Hush
    url: https://open-hush.com

servers:
  - url: https://api.open-hush.com
    description: Production
  - url: https://staging-api.open-hush.com
    description: Staging
  - url: http://localhost:8080
    description: Local development

tags:
  - name: meta
    description: Health, version and other meta endpoints.
  - name: device
    description: Endpoints called by the firmware. HMAC-authenticated.
  - name: users
    description: User registration, login and profile.
  - name: devices
    description: Device management from a user perspective (claim, list, configure).
  - name: audio
    description: Audio item upload, transcoding and metadata.
  - name: cards
    description: Binding of RFID card UIDs to audio items on a device.
  - name: firmware
    description: Firmware OTA distribution.
  - name: config
    description: External service configuration status (read-only, admin).
  - name: webhooks
    description: Server-to-consumer notifications. Defined under top-level `webhooks:`.

security:
  - userJwt: []

paths:
  /v1/health:
    get:
      operationId: getHealth
      tags: [meta]
      summary: Liveness probe.
      security: []
      responses:
        "200":
          description: Service is reachable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
        "503":
          description: Service is degraded or unavailable.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/ready:
    get:
      operationId: getReadiness
      tags: [meta]
      summary: Readiness probe with per-dependency checks.
      description: |
        Liveness (`/v1/health`) only proves the process answered. Readiness
        also checks that every downstream the API actually depends on (the
        database, object storage) is reachable. Orchestrators should use
        this endpoint to decide whether the instance should receive traffic.
      security: []
      responses:
        "200":
          description: Every dependency is healthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ready"
              examples:
                ok:
                  summary: All checks pass.
                  value:
                    status: ok
                    checks:
                      database: { status: ok, latencyMs: 3 }
                      objectStorage: { status: ok, latencyMs: 12 }
        "503":
          description: At least one dependency is unhealthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ready"
              examples:
                degraded:
                  summary: Object storage is down.
                  value:
                    status: degraded
                    checks:
                      database: { status: ok, latencyMs: 4 }
                      objectStorage:
                        status: error
                        error: "connection refused"

  /v1/device/register:
    post:
      operationId: registerDevice
      tags: [device]
      summary: First-boot registration of a device.
      description: |
        Called once by the firmware right after WiFi credentials have been
        provisioned via BLE. The device proves possession of its baked-in
        per-device secret via HMAC and receives a device-scoped token plus
        the initial sync payload.
      security:
        - deviceHmac: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceRegisterRequest"
      responses:
        "200":
          description: Device registered (idempotent).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceRegisterResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/device/sync:
    get:
      operationId: syncDevice
      tags: [device]
      summary: Pull configuration, card bindings and audio manifest.
      description: |
        Devices poll this endpoint roughly every 10 minutes (configurable from
        the dashboard). The response is the **complete current state**: cards,
        audio items with presigned URLs, power-saving thresholds and feature
        flags. Clients diff against their cached version.

        Two callers are accepted:
        - A **physical device** authenticating with `deviceHmac`; the device is
          resolved from the HMAC `keyId`.
        - A **user app acting as a device** authenticating with `userJwt`. In
          this case `device_id` is **required** and must reference a claimed
          device owned by the caller.
      security:
        - deviceHmac: []
        - userJwt: []
      parameters:
        - name: since
          in: query
          required: false
          description: ISO-8601 timestamp of the last successful sync. If omitted, a full snapshot is returned.
          schema:
            type: string
            format: date-time
        - name: device_id
          in: query
          required: false
          description: |
            Target device UUID. Ignored for `deviceHmac` callers (the device is
            taken from the signature). **Required** for `userJwt` callers and
            must reference a claimed device owned by the caller.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Current sync payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceSyncResponse"
        "304":
          description: Nothing changed since `since`.
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/device/events:
    post:
      operationId: postDeviceEvents
      tags: [device]
      summary: Push a batch of events from the device.
      description: |
        Devices buffer events (card scans, button presses, errors) locally and
        flush them in batches. The endpoint is idempotent on `eventId`.

        Two callers are accepted:
        - A **physical device** authenticating with `deviceHmac`; the device is
          resolved from the HMAC `keyId`.
        - A **user app acting as a device** authenticating with `userJwt`. In
          this case `device_id` is **required** and must reference a claimed
          device owned by the caller.
      security:
        - deviceHmac: []
        - userJwt: []
      parameters:
        - name: device_id
          in: query
          required: false
          description: |
            Target device UUID. Ignored for `deviceHmac` callers (the device is
            taken from the signature). **Required** for `userJwt` callers and
            must reference a claimed device owned by the caller.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceEventsRequest"
      responses:
        "202":
          description: Events accepted for processing.
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/users:
    get:
      operationId: listUsers
      tags: [users]
      summary: List user accounts (admin only).
      description: |
        Admin-only directory of every account. The caller must present a valid
        `admin` bearer token; an unauthenticated request gets `401` and an
        authenticated non-admin gets `403`.

        Results are ordered newest-first and paginated by opaque cursor: pass
        the previous response's `nextCursor` back as the `cursor` query param to
        fetch the next page. A response without `nextCursor` is the last page.
      parameters:
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of user accounts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
              examples:
                page:
                  summary: First page of the user directory.
                  value:
                    items:
                      - id: 8f1b6a2e-3c4d-4e5f-9a0b-1c2d3e4f5a6b
                        email: marta@example.com
                        displayName: Marta
                        role: user
                        createdAt: "2026-06-15T09:34:54Z"
                      - id: 1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d
                        email: admin@example.com
                        displayName: Root Admin
                        role: admin
                        createdAt: "2026-06-01T08:00:00Z"
                    nextCursor: eyJjcmVhdGVkQXQiOiIyMDI2LTA2LTAxVDA4OjAwOjAwWiIsImlkIjoiMWEyYjNjNGQifQ
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The caller is authenticated but is not an admin.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                forbidden:
                  summary: A non-admin user tried to list accounts.
                  value:
                    code: forbidden
                    message: Admin privileges are required to list users.

  /v1/users/register:
    post:
      operationId: registerUser
      tags: [users]
      summary: Create a new end-user account (admin only).
      description: |
        Admin-only account creation. The caller must present a valid `admin`
        bearer token; the new account is **not** logged in and no tokens are
        issued — the response is the created user's profile. The caller's own
        session is unaffected.

        There is no public self-registration. An unauthenticated request gets
        `401`; an authenticated non-admin gets `403`.

        The optional `role` field lets an admin choose the new account's role
        (`admin` or `user`). When omitted it defaults to `user`. This is the
        only path to mint an `admin` from the dashboard; the bootstrap seed
        (`BOOTSTRAP_ADMIN_*`) remains for first-boot provisioning.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRegisterRequest"
            examples:
              endUser:
                summary: Create an ordinary end-user (role defaults to user).
                value:
                  email: marta@example.com
                  password: a-much-longer-passphrase
                  displayName: Marta
              admin:
                summary: Create another admin.
                value:
                  email: ops@example.com
                  password: another-long-passphrase
                  displayName: Ops
                  role: admin
      responses:
        "201":
          description: |
            Account created. Returns the new user's profile; no tokens are
            issued and the new account is not logged in.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              examples:
                created:
                  summary: The newly created user's profile.
                  value:
                    id: 8f1b6a2e-3c4d-4e5f-9a0b-1c2d3e4f5a6b
                    email: marta@example.com
                    displayName: Marta
                    role: user
                    createdAt: "2026-06-15T09:34:54Z"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The caller is authenticated but is not an admin.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                forbidden:
                  summary: A non-admin user tried to create an account.
                  value:
                    code: forbidden
                    message: Admin privileges are required to create users.
        "409":
          description: Email already in use.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                emailTaken:
                  summary: An account with that email already exists.
                  value:
                    code: email_taken
                    message: An account with that email already exists.
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/users/login:
    post:
      operationId: loginUser
      tags: [users]
      summary: Exchange email + password for an access/refresh token pair.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserLoginRequest"
      responses:
        "200":
          description: Authentication successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokens"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/users/refresh:
    post:
      operationId: refreshTokens
      tags: [users]
      summary: Trade a refresh token for a new access/refresh pair.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: New token pair issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokens"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/users/me:
    get:
      operationId: getMe
      tags: [users]
      summary: Get the authenticated user's profile.
      responses:
        "200":
          description: Profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/users/me/password:
    patch:
      operationId: changePassword
      tags: [users]
      summary: Change the authenticated user's password.
      description: |
        Verifies `currentPassword`, then sets `newPassword`. All of the user's
        refresh tokens are revoked (logging out every other session) and a fresh
        access/refresh pair is issued for the caller, so the current session
        survives the change.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
            examples:
              rotate:
                summary: Replace the initial bootstrap password.
                value:
                  currentPassword: the-one-time-bootstrap-password
                  newPassword: a-much-longer-passphrase-i-chose
      responses:
        "200":
          description: Password changed; a fresh token pair is issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokens"
        "401":
          description: Missing token or `currentPassword` did not match.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                wrongPassword:
                  summary: The supplied current password is incorrect.
                  value:
                    code: invalid_credentials
                    message: Current password is incorrect.
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/devices:
    get:
      operationId: listDevices
      tags: [devices]
      summary: List devices owned by the authenticated user.
      parameters:
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Paginated device list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceList"
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/devices/{id}:
    parameters:
      - $ref: "#/components/parameters/DeviceId"
    get:
      operationId: getDevice
      tags: [devices]
      summary: Get a single device.
      responses:
        "200":
          description: Device.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      operationId: updateDevice
      tags: [devices]
      summary: Update a device owned by the authenticated user.
      description: |
        Renames a claimed device. Only the user-chosen `name` is mutable; the
        serial, state and firmware version are owned by the device lifecycle
        and cannot be changed here. Scoped to the caller: a device owned by
        another user (or already retired) responds `404`, never `403`, so the
        endpoint does not leak which device ids exist.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceUpdateRequest"
            examples:
              rename:
                summary: Give the device a friendly name.
                value:
                  name: Marta's box
              clearName:
                summary: Clear the name (fall back to the serial in the UI).
                value:
                  name: null
      responses:
        "200":
          description: Updated device.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
              examples:
                renamed:
                  summary: Device after a successful rename.
                  value:
                    id: 7c0d976d-e8cc-42c5-ad04-bf150200e7fd
                    serial: DEV001
                    ownerId: 25e4c34b-8d6b-4684-a300-781a3fa39ae1
                    name: Marta's box
                    state: claimed
                    firmwareVersion: 1.4.2
                    lastSeenAt: 2026-06-15T09:30:00Z
                    createdAt: 2026-06-01T12:00:00Z
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
    delete:
      operationId: retireDevice
      tags: [devices]
      summary: Retire (remove) a device owned by the authenticated user.
      description: |
        Soft-deletes the device: it transitions to `retired`, stops syncing
        and disappears from the owner's device list. Ownership is preserved so
        the action can be reversed by support — the hardware identity and its
        secret survive, the unit is never destroyed. Scoped to the caller: a
        device owned by another user (or already retired) responds `404`.
      responses:
        "204":
          description: Device retired.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/devices/{id}/claim:
    parameters:
      - $ref: "#/components/parameters/DeviceId"
    post:
      operationId: claimDevice
      tags: [devices]
      summary: Claim an unclaimed device.
      description: |
        After BLE pairing the user owns the device. The claim step transfers
        ownership in the backend. The body carries a short-lived claim code
        displayed on the dashboard / printed on the box.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceClaimRequest"
      responses:
        "200":
          description: Device claimed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Device already claimed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                alreadyClaimed:
                  summary: Device is owned by another account.
                  value:
                    code: device_already_claimed
                    message: This device is already owned by another account.
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/devices/{id}/cards:
    parameters:
      - $ref: "#/components/parameters/DeviceId"
    get:
      operationId: listDeviceCards
      tags: [cards]
      summary: List card bindings on a device.
      responses:
        "200":
          description: Bindings (unpaginated; capped server-side).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardBindingList"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      operationId: bindCard
      tags: [cards]
      summary: Bind an RFID card UID to an audio item on a device.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardBindingRequest"
      responses:
        "200":
          description: Card binding upserted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardBinding"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/devices/{id}/cards/{uid}:
    parameters:
      - $ref: "#/components/parameters/DeviceId"
      - name: uid
        in: path
        required: true
        description: RFID UID in lowercase hex (no separators).
        schema:
          type: string
          pattern: "^[0-9a-f]{8,20}$"
    delete:
      operationId: unbindCard
      tags: [cards]
      summary: Remove a card binding from a device.
      responses:
        "204":
          description: Binding removed.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/audio:
    get:
      operationId: listAudio
      tags: [audio]
      summary: List audio items owned by the authenticated user.
      parameters:
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Paginated list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioList"
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      operationId: createAudio
      tags: [audio]
      summary: Create an audio item and obtain a presigned upload URL.
      description: |
        The backend never proxies audio bytes. The client uploads the raw file
        directly to object storage using the returned presigned URL, then
        calls `POST /v1/audio/{id}/finalize` to trigger transcoding.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AudioCreateRequest"
      responses:
        "201":
          description: Audio item created with upload URL.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioCreateResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/audio/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getAudio
      tags: [audio]
      summary: Get an audio item.
      responses:
        "200":
          description: Audio item.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Audio"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      operationId: deleteAudio
      tags: [audio]
      summary: Delete an audio item.
      description: |
        Permanently removes the audio metadata and its stored objects (the raw
        upload and the transcoded MP3). Any card bindings that reference this
        audio are removed as well (cascade). Only the owner may delete their
        own audio; deleting another user's audio returns `404`.
      responses:
        "204":
          description: Audio deleted.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/audio/{id}/finalize:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: finalizeAudio
      tags: [audio]
      summary: Notify the backend that the raw upload is complete.
      description: |
        Triggers ffmpeg transcoding (MP3 128 kbps CBR mono 44.1 kHz). The item
        moves to `state: processing` until the worker is done; consumers
        should poll `GET /v1/audio/{id}` or rely on the next device sync.
      responses:
        "202":
          description: Finalization accepted; transcoding queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Audio"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Audio already finalized.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                alreadyFinalized:
                  summary: Item is already past the upload state.
                  value:
                    code: audio_already_finalized
                    message: This audio item is already past the upload state.

  /v1/firmware/latest:
    get:
      operationId: getLatestFirmware
      tags: [firmware]
      summary: Get the latest firmware manifest for a hardware revision.
      description: |
        Returns the manifest of the most recent firmware release published for
        the given hardware revision. Devices call this on boot and after each
        successful sync to know whether to upgrade. The `url` is a short-lived
        presigned GET URL pointing at the signed firmware binary; the device
        must verify `sha256` (integrity) and `signature` (authenticity) before
        flashing. The signature is over the raw binary bytes using Ed25519;
        the public key is baked into the running firmware image.
      security:
        - deviceHmac: []
      parameters:
        - name: hw_rev
          in: query
          required: true
          description: Hardware revision (e.g. `r0`, `r1`).
          schema:
            type: string
            pattern: "^r[0-9]+$"
            examples: ["r0"]
      responses:
        "200":
          description: Latest manifest for the given hardware revision.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FirmwareManifest"
              examples:
                r0-0_2_0:
                  summary: Stable release for hardware r0.
                  value:
                    version: "0.2.0"
                    hwRev: "r0"
                    url: "https://r2.open-hush.com/firmware/r0/0.2.0.bin?X-Amz-Signature=..."
                    expiresAt: "2026-05-21T12:30:00Z"
                    sha256: "9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"
                    signature: "c1a206e8a4f55e72d36d5d12cf2d8b30f8ef74e0b8e9dcbb3d4c3c8a9c5b1ad03fbd54c0e7cae9b2b9c9fd6c9c0bfae3a4cb5c8aa7d6e9ed6b8c4d2c3a5b7c80a"
                    signatureAlgorithm: "ed25519"
                    sizeBytes: 1048576
                    releasedAt: "2026-05-20T09:12:33Z"
                    notes: "Adds Improv-WiFi pairing fallback."
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: No firmware published for this hardware revision.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                noFirmware:
                  summary: No release exists for the requested hardware revision.
                  value:
                    code: no_firmware
                    message: No firmware has been published for hardware revision r0.
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/config:
    get:
      operationId: getConfig
      tags: [config]
      summary: External service configuration status (admin only).
      description: |
        Read-only status of the external services the backend integrates with:
        email (Resend), audio object storage (S3 / MinIO / R2), log traces
        (BetterStack) and crash reporting (Sentry). For each service it reports
        whether it is configured, the **names** of the environment variables
        that drive it, and a handful of non-secret resolved hints (region,
        bucket, masked endpoint, …).

        Configuration is operator-owned: values live in the backend's
        environment (`.env`) and are read at process start. This endpoint
        **never** returns a secret value — only whether each variable is set.
        To change a value, edit the environment and restart the backend.

        Admin-only: an unauthenticated request gets `401` and an authenticated
        non-admin gets `403`.
      responses:
        "200":
          description: Per-service configuration status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigStatus"
              examples:
                mixed:
                  summary: Storage configured, the other services pending.
                  value:
                    services:
                      - service: email
                        label: Email (Resend)
                        configured: false
                        variables:
                          - { name: RESEND_API_KEY, set: false, secret: true, required: true }
                          - { name: RESEND_FROM, set: false, secret: false, required: true }
                        hints: {}
                      - service: storage
                        label: Audio storage (S3 / MinIO / R2)
                        configured: true
                        variables:
                          - { name: S3_ENDPOINT, set: true, secret: false, required: true }
                          - { name: S3_REGION, set: true, secret: false, required: false }
                          - { name: S3_BUCKET, set: true, secret: false, required: true }
                          - { name: S3_ACCESS_KEY, set: true, secret: true, required: true }
                          - { name: S3_SECRET_KEY, set: true, secret: true, required: true }
                          - { name: S3_USE_PATH_STYLE, set: true, secret: false, required: false }
                        hints:
                          region: us-east-1
                          bucket: hush-audio
                          endpoint: "http://loc***"
                          pathStyle: "true"
                      - service: traces
                        label: Log traces (BetterStack)
                        configured: false
                        variables:
                          - { name: BETTERSTACK_API_KEY, set: false, secret: true, required: true }
                          - { name: BETTERSTACK_INGEST_URL, set: false, secret: false, required: false }
                        hints: {}
                      - service: crash
                        label: Crash reporting (Sentry)
                        configured: false
                        variables:
                          - { name: SENTRY_DSN, set: false, secret: true, required: true }
                          - { name: SENTRY_ENVIRONMENT, set: false, secret: false, required: false }
                        hints: {}
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The caller is authenticated but is not an admin.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                forbidden:
                  summary: A non-admin user tried to read the service configuration.
                  value:
                    code: forbidden
                    message: Admin privileges are required to read service configuration.

webhooks:
  deviceOnline:
    post:
      operationId: deviceOnlineWebhook
      tags: [webhooks]
      summary: A device transitioned to online.
      description: |
        Fired when the backend receives traffic from a device after at least
        5 minutes of silence — i.e. the device just came back online from a
        deep-sleep or network outage. The webhook is **not** fired on every
        heartbeat; only on edge transitions offline → online.

        See [Webhook delivery](#section/Webhook-delivery) in the description
        for signature verification and retry semantics.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookEnvelopeDeviceOnline"
      parameters:
        - $ref: "#/components/parameters/WebhookSignatureHeader"
        - $ref: "#/components/parameters/WebhookIdHeader"
        - $ref: "#/components/parameters/WebhookTypeHeader"
      responses:
        "2XX":
          description: |
            Any 2xx status acknowledges receipt. The body is ignored.
        "410":
          description: |
            The consumer no longer wants this webhook. The backend will
            disable the subscription and stop retrying.

  audioFinalized:
    post:
      operationId: audioFinalizedWebhook
      tags: [webhooks]
      summary: Audio transcoding completed.
      description: |
        Fired when an audio item transitions out of `processing` — either to
        `ready` (transcode succeeded) or `failed` (transcode errored out).
        Use `data.audio.state` to disambiguate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookEnvelopeAudioFinalized"
      parameters:
        - $ref: "#/components/parameters/WebhookSignatureHeader"
        - $ref: "#/components/parameters/WebhookIdHeader"
        - $ref: "#/components/parameters/WebhookTypeHeader"
      responses:
        "2XX":
          description: Acknowledged.
        "410":
          description: Subscription is gone; stop retrying.

components:
  securitySchemes:
    deviceHmac:
      type: apiKey
      in: header
      name: Authorization
      description: |
        Device-scoped HMAC-SHA256 signature. The header value is
        `HMAC keyId=<device-id>,signature=<hex>,ts=<unix-seconds>`. See
        [`docs/auth.md`](./docs/auth.md) for the canonicalization rules.
    userJwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Short-lived (15 min) access token. Pair with `/v1/users/refresh` to
        rotate. See [`docs/auth.md`](./docs/auth.md).

  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque pagination cursor returned by a previous response.
      schema:
        type: string
    DeviceId:
      name: id
      in: path
      required: true
      description: Device identifier (UUID).
      schema:
        type: string
        format: uuid
    WebhookSignatureHeader:
      name: Hush-Webhook-Signature
      in: header
      required: true
      description: |
        HMAC-SHA256 signature of `<t>.<raw-body>` using the per-user webhook
        secret. Format `t=<unix-seconds>,v1=<lowercase-hex>`. Consumers must
        reject `|now-t| > 300s` and use a constant-time compare.
      schema:
        type: string
        pattern: "^t=[0-9]+,v1=[0-9a-f]{64}$"
        examples:
          - "t=1748892600,v1=9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"
    WebhookIdHeader:
      name: Hush-Webhook-Id
      in: header
      required: true
      description: |
        UUID v4 unique to this delivery attempt. Use it for idempotent
        processing; the same id may arrive more than once on retry.
      schema:
        type: string
        format: uuid
    WebhookTypeHeader:
      name: Hush-Webhook-Type
      in: header
      required: true
      description: |
        The event type. Always equal to the `type` field of the body.
      schema:
        type: string
        enum: [device.online, audio.finalized]

  headers:
    RateLimitLimit:
      description: |
        Maximum number of requests the client may issue inside the current
        rate-limit window. Constant within a window.
      schema:
        type: integer
        minimum: 1
      example: 60
    RateLimitRemaining:
      description: |
        Requests still allowed in the current window. Decreases on each accepted
        request; resets to `X-RateLimit-Limit` when the window rolls over.
      schema:
        type: integer
        minimum: 0
      example: 42
    RateLimitReset:
      description: |
        Unix timestamp (seconds since epoch, UTC) at which the current window
        rolls over and the quota resets.
      schema:
        type: integer
        minimum: 0
      example: 1748892900
    RetryAfter:
      description: |
        Seconds the client should wait before retrying. Always present on
        `429 Too Many Requests`.
      schema:
        type: integer
        minimum: 0
      example: 30

  responses:
    Unauthorized:
      description: Missing or invalid authentication.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            missing:
              summary: No `Authorization` header.
              value:
                code: unauthorized
                message: Missing bearer token.
            invalidSignature:
              summary: HMAC signature did not verify.
              value:
                code: invalid_signature
                message: HMAC verification failed.
            expired:
              summary: Token / HMAC timestamp is outside the accepted window.
              value:
                code: expired_token
                message: Access token has expired; refresh required.
    BadRequest:
      description: The request is malformed or missing a required parameter.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            missingDeviceId:
              summary: A `userJwt` caller omitted the required `device_id`.
              value:
                code: device_id_required
                message: device_id query parameter is required when authenticating as a user.
                details:
                  field: device_id
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            device:
              summary: Device unknown to the authenticated user.
              value:
                code: device_not_found
                message: No device with that id is visible to this user.
            audio:
              summary: Audio item unknown to the authenticated user.
              value:
                code: audio_not_found
                message: No audio item with that id is visible to this user.
            binding:
              summary: No binding for the given UID on the device.
              value:
                code: binding_not_found
                message: No binding for that UID on this device.
    Unprocessable:
      description: Request body failed validation.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            missingField:
              summary: A required field is missing.
              value:
                code: validation_failed
                message: sourceContentType is required.
                details:
                  field: sourceContentType
            badEnum:
              summary: A field carries a value outside the allowed enum.
              value:
                code: validation_failed
                message: events[1].type must be one of card_scanned, card_unknown, playback_started, playback_finished, button_pressed, low_battery, error.
                details:
                  field: events[1].type
    TooManyRequests:
      description: |
        The client has exceeded the rate limit for this route. The response
        always carries a `Retry-After` header (seconds) and the standard
        `X-RateLimit-*` triplet so clients can self-throttle.
      headers:
        Retry-After: { $ref: "#/components/headers/RetryAfter" }
        X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
        X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
        X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            login:
              summary: Login attempts exceeded.
              value:
                code: rate_limited
                message: Too many login attempts. Try again in 30 seconds.
                details:
                  retryAfterSec: 30

  schemas:
    Health:
      type: object
      required: [status, version]
      properties:
        status:
          type: string
          enum: [ok]
        version:
          type: string
          description: SemVer of the backend build.
        commit:
          type: string
          description: Git commit short SHA.

    Ready:
      type: object
      required: [status, checks]
      properties:
        status:
          type: string
          enum: [ok, degraded]
          description: Aggregate readiness. `degraded` whenever any check is not `ok`.
        checks:
          type: object
          description: Per-dependency check results, keyed by check name (`database`, `objectStorage`, …).
          additionalProperties:
            $ref: "#/components/schemas/ReadyCheck"

    ReadyCheck:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ok, error, timeout]
        latencyMs:
          type: integer
          minimum: 0
          description: Round-trip latency of the probe. Present on success.
        error:
          type: string
          description: Short failure description. Present when `status` is not `ok`.

    ConfigStatus:
      type: object
      required: [services]
      properties:
        services:
          type: array
          description: One entry per external service the backend integrates with.
          items:
            $ref: "#/components/schemas/ServiceConfig"

    ServiceConfig:
      type: object
      required: [service, label, configured, variables]
      properties:
        service:
          type: string
          enum: [email, storage, traces, crash]
          description: Stable machine key for the service.
        label:
          type: string
          description: Human-readable service name for the dashboard.
        configured:
          type: boolean
          description: True when every `required` variable of this service is set.
        variables:
          type: array
          description: Environment variables that drive this service.
          items:
            $ref: "#/components/schemas/ConfigVariable"
        hints:
          type: object
          description: |
            Non-secret resolved values that help an operator confirm which
            environment is loaded (region, bucket, masked endpoint, …). Never
            contains a secret value.
          additionalProperties:
            type: string

    ConfigVariable:
      type: object
      required: [name, set, secret, required]
      properties:
        name:
          type: string
          description: Environment variable name, e.g. `RESEND_API_KEY`.
        set:
          type: boolean
          description: Whether the variable is present and non-empty. The value itself is never returned.
        secret:
          type: boolean
          description: Whether the value is sensitive. Secret values are never exposed, set or not.
        required:
          type: boolean
          description: Whether this variable counts toward the service's `configured` flag.

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Machine-readable error code (snake_case, stable).
          examples: [invalid_credentials, device_already_claimed, validation_failed]
        message:
          type: string
          description: Human-readable explanation.
        details:
          type: object
          additionalProperties: true

    AuthTokens:
      type: object
      required: [accessToken, refreshToken, expiresIn]
      properties:
        accessToken:
          type: string
          description: JWT access token. Short-lived (15 min).
        refreshToken:
          type: string
          description: Refresh token. Single-use; rotated on every refresh.
        expiresIn:
          type: integer
          description: Access-token TTL in seconds.

    RefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string

    UserRegisterRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 12
        displayName:
          type: string
        role:
          type: string
          enum: [admin, user]
          default: user
          description: |
            Role for the new account. Optional; defaults to `user` when omitted.
            Only an admin caller can reach this endpoint, so this is the path to
            create another `admin` from the dashboard.

    UserLoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    ChangePasswordRequest:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword:
          type: string
          format: password
        newPassword:
          type: string
          format: password
          minLength: 12

    User:
      type: object
      required: [id, email, role, createdAt]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        displayName:
          type: string
        role:
          type: string
          enum: [admin, user]
          description: |
            Authorization role. `user` is an ordinary end-user scoped to their
            own resources; `admin` has global privileges. New accounts default
            to `user` unless an admin explicitly creates an `admin`.
        createdAt:
          type: string
          format: date-time

    UserList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/User" }
        nextCursor:
          type: string

    Device:
      type: object
      required: [id, serial, state, createdAt]
      properties:
        id:
          type: string
          format: uuid
        serial:
          type: string
          description: Per-unit serial printed on the device.
        ownerId:
          type: string
          format: uuid
          description: User who claimed the device. Null while unclaimed.
        name:
          type: string
          description: User-chosen device name (e.g. "Marta's box").
        state:
          type: string
          enum: [unclaimed, claimed, retired]
        firmwareVersion:
          type: string
        lastSeenAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    DeviceList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/Device" }
        nextCursor:
          type: string

    DeviceRegisterRequest:
      type: object
      required: [serial, firmwareVersion]
      properties:
        serial:
          type: string
        firmwareVersion:
          type: string
        macAddress:
          type: string
          description: BLE MAC address, lowercase hex with colons.
          pattern: "^([0-9a-f]{2}:){5}[0-9a-f]{2}$"

    DeviceRegisterResponse:
      type: object
      required: [device]
      properties:
        device: { $ref: "#/components/schemas/Device" }
        claimCode:
          type: string
          description: Short-lived code shown to the user during pairing.

    DeviceClaimRequest:
      type: object
      required: [claimCode]
      properties:
        claimCode:
          type: string
        name:
          type: string

    DeviceUpdateRequest:
      type: object
      description: |
        Mutable device fields. Only the user-chosen name can be changed;
        serial, state and firmware are managed by the device lifecycle.
      additionalProperties: false
      properties:
        name:
          type: [string, "null"]
          maxLength: 120
          description: New device name. Send null to clear it.

    DeviceSyncResponse:
      type: object
      required: [serverTime, config, cards, audio]
      properties:
        serverTime:
          type: string
          format: date-time
        config:
          $ref: "#/components/schemas/DeviceConfig"
        cards:
          type: array
          items: { $ref: "#/components/schemas/CardBinding" }
        audio:
          type: array
          items: { $ref: "#/components/schemas/AudioSyncEntry" }

    DeviceConfig:
      type: object
      required: [lightSleepAfterSec, deepSleepAfterSec, volumeMax]
      properties:
        lightSleepAfterSec:
          type: integer
          minimum: 5
          description: Seconds of idle before LIGHT_SLEEP. Default 30.
        deepSleepAfterSec:
          type: integer
          minimum: 60
          description: Seconds of idle before DEEP_SLEEP. Default 300.
        volumeMax:
          type: integer
          minimum: 0
          maximum: 100
          description: Hard ceiling for the volume encoder.
        ledBrightness:
          type: integer
          minimum: 0
          maximum: 100

    DeviceEventsRequest:
      type: object
      required: [events]
      properties:
        events:
          type: array
          minItems: 1
          maxItems: 200
          items: { $ref: "#/components/schemas/DeviceEvent" }

    DeviceEvent:
      description: |
        A single event emitted by the firmware. The wire shape is a
        discriminated union keyed by `type`; consumers should pattern-match on
        it (codegen libraries surface this as a sum type / tagged enum).

        `eventId` is a client-generated UUID used for idempotency; the backend
        deduplicates on `(deviceId, eventId)`.
      oneOf:
        - $ref: "#/components/schemas/DeviceEventCardScanned"
        - $ref: "#/components/schemas/DeviceEventCardUnknown"
        - $ref: "#/components/schemas/DeviceEventPlaybackStarted"
        - $ref: "#/components/schemas/DeviceEventPlaybackFinished"
        - $ref: "#/components/schemas/DeviceEventButtonPressed"
        - $ref: "#/components/schemas/DeviceEventVolumeChanged"
        - $ref: "#/components/schemas/DeviceEventLowBattery"
        - $ref: "#/components/schemas/DeviceEventWifiSignal"
        - $ref: "#/components/schemas/DeviceEventError"
      discriminator:
        propertyName: type
        mapping:
          card_scanned:      "#/components/schemas/DeviceEventCardScanned"
          card_unknown:      "#/components/schemas/DeviceEventCardUnknown"
          playback_started:  "#/components/schemas/DeviceEventPlaybackStarted"
          playback_finished: "#/components/schemas/DeviceEventPlaybackFinished"
          button_pressed:    "#/components/schemas/DeviceEventButtonPressed"
          volume_changed:    "#/components/schemas/DeviceEventVolumeChanged"
          low_battery:       "#/components/schemas/DeviceEventLowBattery"
          wifi_signal:       "#/components/schemas/DeviceEventWifiSignal"
          error:             "#/components/schemas/DeviceEventError"

    DeviceEventBase:
      type: object
      required: [eventId, ts, type]
      properties:
        eventId:
          type: string
          format: uuid
          description: Client-generated UUID; used for idempotency.
        ts:
          type: string
          format: date-time
        type:
          type: string

    DeviceEventCardScanned:
      allOf:
        - $ref: "#/components/schemas/DeviceEventBase"
        - type: object
          required: [type, payload]
          properties:
            type: { const: card_scanned }
            payload:
              type: object
              required: [uid]
              properties:
                uid:
                  type: string
                  pattern: "^[0-9a-f]{8,20}$"
                  description: RFID UID, lowercase hex, no separators.

    DeviceEventCardUnknown:
      allOf:
        - $ref: "#/components/schemas/DeviceEventBase"
        - type: object
          required: [type, payload]
          properties:
            type: { const: card_unknown }
            payload:
              type: object
              required: [uid]
              properties:
                uid:
                  type: string
                  pattern: "^[0-9a-f]{8,20}$"

    DeviceEventPlaybackStarted:
      allOf:
        - $ref: "#/components/schemas/DeviceEventBase"
        - type: object
          required: [type, payload]
          properties:
            type: { const: playback_started }
            payload:
              type: object
              required: [audioId]
              properties:
                audioId:
                  type: string
                  format: uuid

    DeviceEventPlaybackFinished:
      allOf:
        - $ref: "#/components/schemas/DeviceEventBase"
        - type: object
          required: [type, payload]
          properties:
            type: { const: playback_finished }
            payload:
              type: object
              required: [audioId, reason]
              properties:
                audioId:
                  type: string
                  format: uuid
                reason:
                  type: string
                  enum: [completed, interrupted, error]
                  description: |
                    `completed` — playback reached the end.
                    `interrupted` — a new card was scanned mid-playback, or the user pressed pause.
                    `error` — the decoder failed; a paired `error` event follows.
                positionMs:
                  type: integer
                  minimum: 0
                  description: Position at which playback ended. Useful when `reason` is `interrupted`.

    DeviceEventButtonPressed:
      allOf:
        - $ref: "#/components/schemas/DeviceEventBase"
        - type: object
          required: [type, payload]
          properties:
            type: { const: button_pressed }
            payload:
              type: object
              required: [button]
              properties:
                button:
                  type: string
                  enum: [reset, pairing, encoder]
                  description: Which physical control fired the event.
                durationMs:
                  type: integer
                  minimum: 0
                  description: How long the button was held. Omitted for momentary taps.

    DeviceEventVolumeChanged:
      allOf:
        - $ref: "#/components/schemas/DeviceEventBase"
        - type: object
          required: [type, payload]
          properties:
            type: { const: volume_changed }
            payload:
              type: object
              required: [volume]
              properties:
                volume:
                  type: integer
                  minimum: 0
                  maximum: 100
                  description: Volume level after the change.

    DeviceEventLowBattery:
      allOf:
        - $ref: "#/components/schemas/DeviceEventBase"
        - type: object
          required: [type, payload]
          properties:
            type: { const: low_battery }
            payload:
              type: object
              required: [batteryPercent]
              properties:
                batteryPercent:
                  type: integer
                  minimum: 0
                  maximum: 100
                voltageMv:
                  type: integer
                  minimum: 0
                  description: Pack voltage in millivolts. Optional, useful for debugging.

    DeviceEventWifiSignal:
      allOf:
        - $ref: "#/components/schemas/DeviceEventBase"
        - type: object
          required: [type, payload]
          properties:
            type: { const: wifi_signal }
            payload:
              type: object
              required: [rssi]
              properties:
                rssi:
                  type: integer
                  minimum: -120
                  maximum: 0
                  description: RSSI in dBm. Closer to 0 is better.
                ssid:
                  type: string
                  description: SSID the device is currently associated with.

    DeviceEventError:
      allOf:
        - $ref: "#/components/schemas/DeviceEventBase"
        - type: object
          required: [type, payload]
          properties:
            type: { const: error }
            payload:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  description: Short, snake_case error tag (e.g. `audio_not_in_sync`, `decoder_failed`).
                details:
                  type: object
                  additionalProperties: true

    Audio:
      type: object
      required: [id, title, state, createdAt]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        durationMs:
          type: integer
          minimum: 0
        state:
          type: string
          enum: [uploading, processing, ready, failed]
        sha256:
          type: string
          description: Hex SHA-256 of the transcoded MP3.
        sizeBytes:
          type: integer
          minimum: 0
        createdAt:
          type: string
          format: date-time

    AudioCreateRequest:
      type: object
      required: [title, sourceContentType]
      properties:
        title:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 2000
        sourceContentType:
          type: string
          description: MIME type of the source file the client will upload.
          examples: ["audio/mpeg", "audio/wav", "audio/x-m4a", "audio/ogg"]

    AudioCreateResponse:
      type: object
      required: [audio, upload]
      properties:
        audio: { $ref: "#/components/schemas/Audio" }
        upload:
          type: object
          required: [url, method, expiresAt]
          properties:
            url:
              type: string
              format: uri
              description: Presigned URL for the raw upload.
            method:
              type: string
              enum: [PUT]
            expiresAt:
              type: string
              format: date-time
            headers:
              type: object
              additionalProperties:
                type: string
              description: Headers the client must include verbatim.

    AudioList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/Audio" }
        nextCursor:
          type: string

    AudioSyncEntry:
      type: object
      required: [id, sha256, downloadUrl, expiresAt]
      properties:
        id:
          type: string
          format: uuid
        sha256:
          type: string
        sizeBytes:
          type: integer
        downloadUrl:
          type: string
          format: uri
          description: Presigned GET URL valid until `expiresAt`.
        expiresAt:
          type: string
          format: date-time

    CardBinding:
      type: object
      required: [uid, audioId]
      properties:
        uid:
          type: string
          pattern: "^[0-9a-f]{8,20}$"
          description: RFID UID, lowercase hex, no separators.
        audioId:
          type: string
          format: uuid
        boundAt:
          type: string
          format: date-time

    CardBindingRequest:
      type: object
      required: [uid, audioId]
      properties:
        uid:
          type: string
          pattern: "^[0-9a-f]{8,20}$"
        audioId:
          type: string
          format: uuid

    CardBindingList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/CardBinding" }

    FirmwareManifest:
      type: object
      required:
        - version
        - hwRev
        - url
        - expiresAt
        - sha256
        - signature
        - signatureAlgorithm
        - sizeBytes
        - releasedAt
      properties:
        version:
          type: string
          description: SemVer of the firmware release.
          examples: ["0.2.0", "1.0.0"]
        hwRev:
          type: string
          description: Hardware revision this build targets.
          pattern: "^r[0-9]+$"
        url:
          type: string
          format: uri
          description: Presigned GET URL for the signed firmware binary.
        expiresAt:
          type: string
          format: date-time
          description: When the presigned URL stops being valid.
        sha256:
          type: string
          pattern: "^[0-9a-f]{64}$"
          description: Lowercase hex SHA-256 of the binary.
        signature:
          type: string
          pattern: "^[0-9a-f]+$"
          description: |
            Lowercase hex Ed25519 signature of the binary, computed offline by
            the maintainer with the firmware-signing private key. The matching
            public key is baked into the running firmware image.
        signatureAlgorithm:
          type: string
          enum: [ed25519]
        sizeBytes:
          type: integer
          minimum: 0
        releasedAt:
          type: string
          format: date-time
        notes:
          type: string
          description: Optional human-readable release notes.

    WebhookEnvelopeBase:
      type: object
      required: [id, type, occurredAt, data]
      properties:
        id:
          type: string
          format: uuid
          description: |
            Logical event id. Distinct from `Hush-Webhook-Id`: the header
            changes on every retry, while this one stays stable so consumers
            can deduplicate cross-retry.
        type:
          type: string
          description: Event type. Always mirrors the `Hush-Webhook-Type` header.
        occurredAt:
          type: string
          format: date-time
          description: When the event happened on the server (UTC, with `Z` suffix).

    WebhookEnvelopeDeviceOnline:
      allOf:
        - $ref: "#/components/schemas/WebhookEnvelopeBase"
        - type: object
          required: [type, data]
          properties:
            type: { const: device.online }
            data:
              $ref: "#/components/schemas/WebhookDeviceOnlineData"

    WebhookDeviceOnlineData:
      type: object
      required: [device, previouslyOfflineSec]
      properties:
        device: { $ref: "#/components/schemas/Device" }
        previouslyOfflineSec:
          type: integer
          minimum: 300
          description: |
            How long the device was silent before this transition. Always at
            least 300 (5 minutes — the threshold that defines "back online").

    WebhookEnvelopeAudioFinalized:
      allOf:
        - $ref: "#/components/schemas/WebhookEnvelopeBase"
        - type: object
          required: [type, data]
          properties:
            type: { const: audio.finalized }
            data:
              $ref: "#/components/schemas/WebhookAudioFinalizedData"

    WebhookAudioFinalizedData:
      type: object
      required: [audio]
      properties:
        audio: { $ref: "#/components/schemas/Audio" }
        failureReason:
          type: string
          description: |
            Short error tag, present iff `audio.state == failed`. Examples:
            `transcode_failed`, `unsupported_codec`, `source_missing`.
